:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background: #dde3ea;
  color: #1a3044;
}

#print-root {
  position: fixed;
  left: -10000px;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}
